@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
}

.container{
    padding: 0px 20px;
    background-color: rgba(72, 72, 72, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.inps{
    height: 30px;
    width: 180px;
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(122, 122, 122, 0.1);
}

.tfield-keeper{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.d-inps{
    height: 30px;
    width: 380px;
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(122, 122, 122, 0.1);
}

.b{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.checkbox-keeper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cbox{
    cursor: pointer;
}

.checkText{
    color: white;
    font-size: 16px;
}

.createBtn{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(122, 122, 122, 0.1);
    margin-top: 10px;
    margin-bottom: 30px;
}

.createBtn:hover{
    cursor: pointer;
    background-color: rgba(154, 154, 154, 0.1);
}

.m{
    background-color: rgba(122, 122, 122, 0.1);
    padding: 10px 20px;
    border-radius: 7px;
    margin-bottom: 15px;
    color: white;
}

.mtext{
    color: white;
}